.App {
  text-align: center;
}

.train {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid black;
}

.train-route {
  display: flex;
  align-items: center;
}

.train-station {
  margin-right: 5px;
  font: bold 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.train-arrow {
  margin-right: 5px;
}

.train-line {
  padding: 2px 8px;
  margin-left: 4px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
  font: bold 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.train-line.GOLD {
  background-color: #cdae00;
}

.train-line.RED {
  background-color: red;
}

.train-line.GREEN {
  background-color: green;
}

.train-line.BLUE {
  background-color: blue;
}


.train.gold {
  background-color: #cdae00;
}

.train.red {
  background-color: #ff4136;
}

.train.green {
  background-color: #2ecc40;
}

.train.blue {
  background-color: #0074d9;
}

.train-status {
  padding: 4px 8px;
  font-size: 0.9em;
  font: bold 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.train-waiting-time {
  font-size: 1em;
  font-weight: bold;
  padding: 2px 8px;
  color: green;
  font: bold 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.train.delayed .train-status {
  color: #f44336;
}

.train.on-time .train-status {
  color: limegreen;
}

.train-list {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: white;
  margin-left:auto;
}

/*HOME - BANNER*/

.home-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  border-bottom: 2px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-header-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.home-header {
  font: bold 50px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.about-cont {
  margin-left: auto;
  padding: 20px;
}

.about-link {
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 460;
  color: black;
  text-decoration: none;
}

.about-link:visited {
  color: black;
}

/*HOME - BODY*/

.home-body {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
}

.home-sched-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.home-routes-header {
  font: bold 35px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display:flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.home-routes {
  display: flex;
  flex-direction: column;
  height: 40%;
  margin-bottom: 15%;
}

.home-route-link {
  font: 30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 350;
  color: black;
  text-decoration: none;
  
  height:15%;
  text-align: left;
  padding-left: 10%;
  border-bottom: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.home-img-cont {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
}

/*ABOUT*/

.about-banner-img {
  height: 10vh;
  width: auto;
}

.about-body {
  display: flex;
  justify-content: row;
  height: 90vh;
}

.about-map {
  height: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.about-text p {
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 350;
}

  /*NAVBAR*/

  .navbar {
    height: 100%;
    width: 100vw;
  }

  .navbar-lines-cont {
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: white;
  }

  .navbar-lines {
    width: 10%;
    margin: 5px 1% 5px 1%;
    border-radius: 6px;
    border: 1px solid #d9d4d4;
    font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 400;
  }

  .navbar-header-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background-color: white;
    border-top: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }

  .navbar-header {
    font: bold 35px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .station-list {
    background-color: black;
    width: 30vw;
    height: 100%;
    float: left;
  }

  .station-btn {
    color: white;
    background-color: black;
    border: 0;
    border-bottom: 1px solid white;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    height: 6vh;
    width: 90%;
    font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 250;
  }

  .station-btn:active, .station-btn:focus {
    font-weight: 800;
  }

  /*TRAINLIST*/

  .filter-cont {
    height: 5vh;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  .filter {
    width: 20%;
    margin: 5px 1% 5px 1%;
    
    border: 1px solid black;
    border-radius: 6px;
    font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 400;
  }

  /*m image*/

  .m-cont {
    height:10vh;
    width: 10vh;
  }

  .m {
    height: 100%;
    width: 100%;
  }
  